<section {% if page.layout == 'success-stories-single' or 'blog-single' %}class="background-is-filtered black-filtering"{% else %}class="background-is-filtered black-filtering top-and-bottom"{% endif %}>
    <h2 class="sr">Page Header &amp; Details</h2>
    {% if page.layout == 'success-stories-single' %}
    <img src="{{ page.featured_image }}" alt="{{ page.image_description }}" class="main-header-background">
    <div class="main-header-content wrapper width-100-pc maxwidth-xl mx-auto">
        <a href="{{ site.url }}/success-stories" class="badge mb-1 nano-caps co-white">
            {% include icons.html icon="chevron-left" %}
            <span class="suffix">
                Success Stories
            </span>
        </a>
        <h2 class="mt-0 headline fw-normal maxwidth-sm">
            {{ page.name }}
        </h2>
        <p class="m-0 pico-caps fw-bold opacity-7">
            Client:
            <span>
                {{ page.client }}
            </span>
        </p>
        <!-- <a href="{{page.case_study_link}}" class="download-links mt-1" download>
            {% include icons.html icon="download" %}
            <span class="suffix">
                Download Case Study
            </span>
        </a> -->
    </div>
    {% elsif page.layout == 'blog-single' %}
    <img src="{{ page.featured_image }}" alt="{{ page.image_description }}" class="main-header-background">
    <div class="main-header-content wrapper width-100-pc maxwidth-xl mx-auto">
        <a href="{{ site.url }}/blog" class="badge nano-caps co-white">
            {% include icons.html icon="chevron-left" %}
            <span class="suffix">
                Back to Blog
            </span>
        </a>
        <div class="mt-1h d-flx al-i-c">
            <p class="pico-caps m-0 fw-bold opacity-7 co-primary mr-h header-tag">{{ page.tag | first }}</p>
            <p class="picotext m-0">
                {% assign words = page.content | strip_html | number_of_words %}
                {% include read_time.html %}
            </p>
        </div>
        <h2 class="mt-h headline fw-normal maxwidth-sm">
            {{ page.title }}
        </h2>
        <div class="mt-1 d-flx al-i-c">
            <img src="{{ page.author_image }}" class="mr-h avatar is-nano" alt="{{ page.author_name }}">
            <p class="nanotext m-0"> By {{ page.author_name }} on {{ page.date | date: ' %b %d, %Y'}}</p>
        </div>
    </div>
    {% elsif page.layout == 'leadership-single' %}
    <img src="{{ page.featured_image }}" alt="{{ page.image_description }}" class="main-header-background">
    <div class="main-header-content wrapper width-100-pc maxwidth-xl mx-auto">
        <a href="{{ site.url }}/about/leadership" class="badge mb-1 nano-caps co-white">
            {% include icons.html icon="chevron-left" %}
            <span class="suffix">
                Leadership
            </span>
        </a>
        <h2 class="m-0 headline fw-normal maxwidth-tb">
            {{ page.title }}
        </h2>
        <p class="m-0 pico-caps fw-bold opacity-7">
            {{ page.designation }}
        </p>
    </div>
    {% elsif page.layout == 'careers-single' %}
    <img src="{{ page.featured_image }}" alt="{{ page.image_description }}" class="main-header-background">
    <div class="main-header-content wrapper width-100-pc maxwidth-xl mx-auto">
        <a href="{{ site.url }}/careers/openings/" class="badge mb-1 nano-caps co-white">
            {% include icons.html icon="chevron-left" %}
            <span class="suffix">
                All openings
            </span>
        </a>
        <h2 class="mt-0 headline fw-normal maxwidth-tb">
            {{ page.title }}
        </h2>
        <p class="m-0 nano-caps fw-bold opacity-7">
            {{ page.department }}
        </p>
    </div>
    {% else %}
        <img src="{{site.url}}{{ page.featured_image }}" srcset="{{site.url}}{{ page.featured_image_576px }} 576w, {{site.url}}{{ page.featured_image_768px }} 768w, {{site.url}}{{ page.featured_image_960px }} 960w, {{site.url}}{{ page.featured_image }} 1440w"  alt="{{ page.image_description }}" class="main-header-background">
        <div class="main-header-content wrapper width-100-pc">
            <h2 class="m-0 headline">
                {{ page.headline }}
            </h2>
            {% if page.copy %} 
                <p class="m-0 microtext maxwidth-sm mx-auto co-white-smoke pt-1">
                    {{ page.copy }}
                </p>
            {% endif %}
        </div>
    {% endif %}
</section>