<nav class="mobilenav hide-slargeup" toggle-nav>
    <h2 class="sr">Mobile Navigation Drawer &amp; Links</h2>
    <section>
        <h2 class="sr">List of Pages on {{ site.title }}</h2>
        <ul class="nav none m-0">
            {% for entry in site.data.mainnav %}
            {% assign class = nil %}
            {% if entry.slug == page.url %}
                {% assign class = class | append: ' is-active' %}
            {% endif %}
                <li>
                    <a href="{{ site.url }}{{ entry.slug }}" class="{{ class }} co-readable-gray">
                        {{ entry.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</nav>