// 
    // Carousels (custom settings)

    // @package sfc
    // @author  Kabolobari Benakole <kb@softcom.ng>
.selfies-carousel
    .carousel-cell
        margin-right:       $space-sm
        .image
            width:          576px
            height:         320px
            object-fit:     cover
            @media #{ $smallup }
                width:      768px
                height:     416px
            @media #{ $mediumup }
                width:      992px
                height:     560px
    .flickity-button, .flickity-page-dots .dot
        background:         rgba( 0, 151, 205, 0.75 )
        color:              #fff
        svg
            fill:           #fff

.quotes-carousel
    .carousel-cell
        width:              100%
    .flickity-page-dots
        text-align:         right
        bottom:             40px

.products-carousel
    .carousel-cell
        margin-right:       $space
        width:              296px
        min-height:         320px
        opacity:            0.5
        border-radius:      $preferredradius
        p 
            font-size:      0.935rem
        .image
            width:          50px
            height:         50px
            object-fit:     contain
        .link
            display:        flex
            flex-wrap:      nowrap
            align-items:    center
            justify-content: flex-end
            svg
                transition:         transform $desiredduration ease-in
                transform:          translateX(-5px)
            &:active, &focus, &:hover
                svg
                    transform:      translateX(0)
    .carousel-cell.is-selected
        background:         $primarycolor
        opacity:            1
        a
            color:          #fff
    .flickity-button
        background:         rgba(255,255,255,0.5)
        color:              $primarycolor
        @media #{ $mediumup }
            background:     $primarycolor
            color:          #fff
        svg
            fill:           $primarycolor
            @media #{ $mediumup }
                fill:          #fff
        
    .flickity-prev-next-button
        width:              30px
        height:             30px
        &.previous
            left:           5px
            @media #{ $xlargeup }
                left:       -20px
        &.next
            rightt:         5px
            @media #{ $xlargeup }
                right:      -20px