// 
    // Blog page

    // @package sfc
    // @author  Kabolobari Benakole <kb@softcom.ng>      

.post-grid
    max-width:                             550px
    margin:                                0 auto
    @media #{$mediumup}
        max-width:                         none
    @extend .grid

.post
    grid-column:                       1 / 13
    @media #{$mediumup}
        &:nth-child(even)
            grid-column:               1 / 7
        &:nth-child(odd)
            grid-column:               7 / 13
        &:first-of-type
            grid-column:               1 / 13
            .post-item
                display:               grid
                img
                    grid-column:       1 / 8
                    height:            100%
                > div
                    grid-column:       1 / 9
                    grid-column:       9 / 13

.post-tag
    display:                           flex
    align-items:                       center
    &:after
        content:                       ""
        display:                       block
        width:                         3px
        height:                        3px
        margin-left:                   0.5rem
        border-radius:                 50%
        background:                    $readablegray

