// 
    // Navigations

    // @package sfc
    // @author  Kabolobari Benakole <i@kb.life>

.toggle-mobile-nav
    background:             transparent // Because button element

.desktopnav
    position:               absolute
    bottom:                 0
    transition:             all 0.32s ease-in
    .logo-holder
        width:              96px
        padding:            0.9rem $space
        box-sizing:         content-box
        line-height:        1.2
    &.is-fixed
        position:           fixed
        top:                0
        bottom:             unset
        background-color:   rgba( 255, 255, 255, 0.96 )
        box-shadow:         0 1px 1px 0 rgba( 0, 0, 0, 0.25 )
        .vertical-divider
            border-color:   rgba( 0, 0, 0, 0.4 )
    .logo-holder
        opacity:            0
        visibility:         hidden
        transition:         all 0.32s ease
        display:            none
    &.is-fixed
        .logo-holder
            display:        block
            opacity:        1
            visibility:     visible
        .nav, .the-tools
            a
                @extend .richblack-link
                @extend .opacity-7-link
    .the-tools a
        padding:                0.9rem $space
        line-height:            1.2

.nav
    a
        display:                block
        padding:                0.9rem $space
        font-size:              $microfont
        line-height:            1.2

.navlinks 
    &:after
        content:            ""
        display:            block
        border-bottom:      1px solid rgba(0,0,0,0.06)
        margin-left:        $space-sm
    &:last-of-type
        &:after
            border-bottom: 0
    a
            padding:        0.9rem $space-sm

.mobilenav
    position:               absolute
    top:                    64px
    left:                   $space-xs
    right:                  $space-xs
    max-width:              344px
    background-color:       #0097cd
    z-index:                2
    box-shadow:             $subtleboxshadow
    border-radius:          $preferredradius
    transform:              scale(.8) translateY(-10%)
    transform-origin:       top left
    transition:             all 320ms cubic-bezier(.24,.22,.015,1.56), opacity .1s ease-in-out
    opacity:                0
    pointer-events:         none
    z-index:                10
    &.is-active
        opacity:            1
        pointer-events:     auto
        transform:          scale(1) translate(0)
    &::before
        content:            ''
        position:           absolute
        top:                -0.55rem
        left:               0.75rem
        width:              0
        height:             0
        border-style:       solid
        border-width:       0 10px 10px 10px
        border-color:       transparent transparent #0097cd transparent
    .nav
        li
            a
                padding:            $space
                border-bottom:      1px solid rgba(255,255,255,0.3)
            &:last-of-type a
                border-bottom:      0