{% for blog in site.data.blogs %}
{% assign class = nil %}
<li class="carousel-cell">
    <a href="{{ blog.url }}" class="carousel-unit" target="_blank">
        <div class="background-is-filtered top-and-bottom">
            <img src="{{ blog.featured_image }}" alt="{{ blog.image_description }}" class="image">
            <img src="{{ blog.logo_image }} " alt="{{ blog.name }}'s logo" class="logo">
        </div>
        <div class="text-area">
            <p class="m-0 mt-1h micro-caps co-faint-gray">
                {{ blog.name }}
            </p>
            <h3 class="tagline m-0 co-rich-black">
                {{ blog.tagline }}
            </h3>
            <p class="smalltext mt-h ff-body co-readable-gray">
                {{ blog.description }}
            </p>
            <span class="btn btn-dark btn-standard mt-1h">
                <span>
                    Visit blog
                </span>
                {% include icons.html icon="chevron-right" %}
            </span>
        </div>
    </a>
</li>
{% endfor %}