<li class="d-flx">
    <img src="{{ item.avatar_image | prepend: site.url }}" alt="{{ item.contact_person }}" class="avatar is-medium prefix is-even-wider">
    <div>
        <span class="nanotext co-faint-gray">
            {{ item.city }}, {{ item.country }}
        </span>
        <h3 class="m-0">
            {{ item.contact_name }}
        </h3>
        <p class="m-0">
            <a href="mailto:{{ item.email }}">
                {{ item.email }}
            </a>
            <span class="d-blk">
                {{ item.phone }}
            </span>
        </p>
    </div>
</li>