<li>
    <a href="{{ item.url | prepend: site.url }}" class="landscape-tile flex-align-height j-c-sb co-rich-black bg-white">
        <div class="p-1h">
            <div class="" {% if item.color %}style="color: {{ item.color }}"{% endif %}>
                    {{item.client}}
            </div>
            <h3 class="mt-h">
                {{ item.title | truncate: 55, '...' }}
            </h3>
        </div>
        <div class="show-cta background-is-filtered black-filtering">
            <img src="{{ item.featured_image }}" alt="" class=""/>
            <span class="btn btn-white btn-standard absolute-middle z-depth-1">
                <span>View story</span>
                {% include icons.html icon="chevron-right" %}
            </span>
        </div>
    </a>
</li>