<li>
    <a href="{{ item.url | absolute_url }}" class="landscape-tile flex-align-height j-c-sb co-rich-black bg-white">
        <div class="p-1h">
            <div class="d-flx al-i-c nanotext name pb-h" {% if item.color %}style="color: {{ item.color }}"{% endif %}>
                    {{item.client}}
            </div>
            <div class="">
                <h3 class="m-0 tagline">
                    {{ item.title | truncate: 55, '...' }}
                </h3>
            </div>
        </div>
        <div class="show-cta background-is-filtered black-filtering">
            <img src="{{ item.featured_image }}" alt="" class=""/>
            <span class="btn btn-white btn-standard absolute-middle z-depth-1">
                <span>View story</span>
                {% include icons.html icon="chevron-right" %}
            </span>
        </div>
    </a>
</li>