<!doctype html>
<html lang="en">
    {% include shell/head.html %}
    <body {% if page.layout %}class="is-{{ page.layout }}"{% endif %}>
        <a class="skip-link sr" href="#mainContent">
            Skip to main content
        </a>
        <h1 class="sr">
            {{ site.title }}
        </h1>
        <header class="main-header {% if page.layout == 'home' %}fullheight-header{% endif %}">
            {% include shell/logobar.html %}
            {% include shell/header.html %}
            {% include shell/mainnav.html %}
        </header>
        <main class="main {% if page.layout == 'home' %}bg-platinum{% endif %}" id="mainContent">
            {{ content }}
        </main>
        {% include shell/footer.html %}
        {% include shell/foot.html %}
    </body>
</html>