---
layout: default
---
<section class="leader-image-summary bg-platinum">
    <h2 class="sr">{{ page.title }} in brief</h2>
    <div class="maxwidth-xl mx-auto wrapper will-grow grid al-i-fs">
        <div class="col-12 col-4-sm">
            <img src="{{ page.image }}" alt="{{ page.title }}" class="border-radius-preferred">
        </div>
        <div class="col-12 col-8-sm offset-4-cols-from-left">
            <p class="lead lh-1-3h">
                {{ page.summary }}
            </p>
            <hr class="dashed">
            {{ page.detail | markdownify }}
        </div>
    </div>
</section>
{% include about/join-contact.html %}