---
layout: default
---
<section class="success-stories bg-platinum">
    <div class="maxwidth-xl mx-auto wrapper will-grow">
        <ul class="none grid is-multi-col mostly-3 mt-1 mb-0">
            {% assign sorted = site.success_stories | sort: 'release_date' | reverse %}
            {% if page.url == '/success-stories/' %}
                {% for item in sorted limit: 6 %}
                    {% include lists/impact-list-item.html %}
                {% endfor %}
            {% else %}
                {% for item in sorted %}
                    {% include lists/impact-list-item.html %}
                {% endfor %}
            {% endif %}
        </ul>
        {% unless page.url == '/success-stories/archive/' %}
            <a href="{{ site.url }}/success-stories/archive/" class="btn btn-standard btn-dark mt-2h mx-auto">
                <span>All stories</span>
                {% include icons.html icon="chevron-right" %}
            </a>
        {% endunless %}
    </div>
</section>