<section class="banner bg-platinum">
    <div class="maxwidth-xl mx-auto wrapper will-grow pos-rel">
        <a href="{{ blog.url | prepend: site.url }}" target="_blank">
            <div class="co-readable-gray z-depth-1 call-to-action">
                <h2 class="section-headline fw-bold">
                    Make Payments.
                    <span class="d-blk">However, Whenever</span>
                </h2>
                <p class="section-summary mb-1 co-readable-gray">
                    Send, receive and pay bills with just your phone number.
                    <span class="d-blk">Carry-out transactions with or without a bank account, whether online or offline.</span>
                </p>
                <a href="{{ blog.url | prepend: site.url }}" target="_blank" class="btn btn-standard btn-dark btn-big">
                    <span>Experience Eyowo</span>
                    {% include icons.html icon="chevron-right" %}
                </a>
            </div>
            <img src="{{site.url}}/uploads/pages/home-cta.jpg" alt="Eyowo Banner" class="cta-img">
        </a>
    </div>  
</section>