<section class="blogs-reel">
    <div class="maxwidth-xl mx-auto wrapper">
        <div class="section-header co-readable-gray">
            <h2 class="section-title">
                Our thinking
            </h2>
            <p class="section-summary">
                We are committed to consistently offering transformational values to organizations. 
            </p>
        </div>
        <ul class="blogs-reel-carousel pt-1 none">
            {% include lists/blogs-list.html %}
        </ul>
    </div>
</section>