<section class="blogs-reel">
    <div class="maxwidth-xl mx-auto wrapper will-grow negate-top">
        <div class="section-header co-readable-gray">
            <h2 class="section-title">
                Our thinking
            </h2>
            <p class="section-summary">
                Leading in thoughts, grounding engineers.
            </p>
        </div>
        <ul class="blogs-reel-carousel none pt-1">
            {% include lists/blogs-list.html %}
        </ul>
    </div>
</section>