<section class="banner bg-platinum">
    <div class="maxwidth-xl mx-auto wrapper will-grow pos-rel">
        <a href="{{ blog.url | prepend: site.url }}" target="_blank" class="mt-2">
            <div class="co-readable-gray z-depth-1 call-to-action">
                <h2 class="section-headline fw-bold">
                    Make Payments.
                    <span class="d-blk">However, Whenever</span>
                </h2>
                <p class="section-summary mb-1 ff-heading co-readable-gray">
                    Send, receive and pay bills with just your phone number.
                    <span class="d-blk">Carry-out transactions with or without a bank account, whether online or offline.</span>
                </p>
                <a href="http://eyowo.com/" target="_blank" class="btn btn-standard btn-eyowo btn-big mt-1h">
                    <span>Experience Eyowo</span>
                    {% include icons.html icon="chevron-right" %}
                </a>
            </div>
            <img src="https://res.cloudinary.com/softcomux/image/upload/f_auto,q_auto/v1533824749/sfc/home/eyowo-background-image.jpg" alt="Mobile engineers testing mobile app" class="cta-img">
        </a>
    </div>  
</section>