<section class="bg-platinum">
    <div class="maxwidth-xl mx-auto wrapper will-grow">
        <div class="grid">
            <div class="text-area col-12 col-4-md flex-column-align">
                <h3 class="largetext co-readable-gray will-grow mt-0">
                    Pushing technology to its limits
                </h3>
                <p class="desc co-readable-gray">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-12 col-5-md offset-5-cols-from-left mq-mb-1">
                <ul class="products-carousel none" data-flickity='{ 
                    "wrapAround":       true, 
                    "autoPlay":         4000,
                    "percentPosition":  false
                }'>
                {% for entry in site.products %}
                    {% include lists/products-list.html %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>