<div class="section-header co-readable-gray">
    <h2 class="section-title">
        Media Contact
    </h2>
    <p class="section-summary">
        Our media personnel proudly serve as your primary business contacts. Every enquiry matters to us.
    </p>
</div>
<ul class="none is-held-within grid is-multi-col mostly-3 pt-1">
    {% assign sorted = site.contact_persons | sort: 'position' %}
    {% for item in sorted %}
        {% include lists/contact-person-list-item.html %}
    {% endfor %}
</ul>